<div id="<%= dom_id reminder %>">
  <p>
    <strong>Remind at:</strong>
    <%= reminder.remind_at %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= reminder.message %>
  </p>

  <% if reminder.type == 'IntervalReminder' %>
    <p>
      <strong>Interval seconds:</strong>
      <%= reminder.interval_seconds %>
    </p>
  <% end %>

  <p>
    <strong>Type:</strong>
    <%= reminder.type %>
  </p>

</div>
